.cart{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 0%;
    
    letter-spacing: 0.215em;


    color: #333333;
}


.container{
    display: flex;
    justify-content: space-between;


}



.leftSide{
    
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #E1DBF9;
    min-width: none;
    width: 983px;


}

.cartGoodsPhoto{
  
    grid-area:cartGoodsPhoto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkBox{
    width: 20.65px;
    height: 20px;
    background: rgba(87, 65, 217, 0.07);
    border-radius: 5px;
}

/* Description */

.cartDescription{
   
}

.descriprionTop{

}

.descriprionTopItems{
    display: flex;
    justify-content: left;
    align-items: center;
}
.descriprionTopItemName{

    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
   
    color: #333333;
}
.descriprionTopItemArticle{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 0%;
    letter-spacing: 0.095em; 
    color: #333333;

    margin-left: 20px;
}

.cartDescriptionMain{
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 0%;
   

    letter-spacing: 0.095em;


    color: #9F9F9F;
}

/* Price */

.cartPrice{
   
}

.cartPiceSum{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 0%;
    color: #333333;
    letter-spacing: 0.095em;
}

/* +- */
.cartQuantity{
    
    display: flex;
    align-items: center;

    box-sizing: border-box;
    
    width: 112px;
    height: 42px;

    border: 0.3px solid #9F9F9F;
    border-radius: 5px;
}

.quantityMinus{
    color:#CACDD7;
    width:42px;
    height: 32px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.quantityPlus{
    color:#CACDD7;
    width:42px;
    height: 32px;
    border: none;
    background-color: #fff;
    cursor: pointer;

}

.quantityInput{
    color:#CACDD7;
    width: 100%;
    border: none;
    text-align: center;

    font-family: 'Roboto ';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 0%;
    /* identical to box height, or 0px */

    letter-spacing: 0.095em;

/* Text */

color: #333333;
    
}

.cartFinalSum{
   

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    
    letter-spacing: 0.095em;

   

    color: #333333;
}


/* SVG */

.cartSvg{
    
}

.sprite {
    display: none;
}

.svg{
    display: inline-block;
    width: 18px;
    height: 18px;
    fill:#BBB3B3;
}

.rightSide{
    
    display: flex;
    justify-content: right;
}