.sort {
    display: flex;
    align-items: center;
   
}

.sortDescribe {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

 
    color: #9F9F9F;
}

.ulSort{

    margin: 0px;
    padding-left: 15px;
}

.sortUl {
    display: inline-block;
    padding-right: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;

    color: #9F9F9F;

}

.active{
    display: inline-block;
    padding-right: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;

    color:#333333;

}