.wrapper{
    display: grid;
    grid-template-columns: repeat(4,235px);
    grid-column-gap:17px;



    
}
@media (max-width : 1330px){

    .wrapper{
        grid-template-columns: repeat(3,1fr);
    }
   
}