
.headerMain {

    background-color: #202328;
    min-height: 36px;
    display: flex;
    justify-content: right;
   
    width: 100%;
    max-width: 1339px;
    margin: 0 auto;

    
}

.topMenuUl {
   
    margin: 0; 
	padding: 0; 
}

.topMenuItem {
    display:inline-block;
    text-align: center;
    width: 56px;
    
    padding-left: 70px;
    padding-top: 10px;
    width: auto;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 275;
    font-size: 13px;
    
    color: #FFFFFF;

}

.thirtyLevelHeader{

    display: grid;
    grid-template-columns: 322px 988px;
    justify-content: space-between;

    grid-template-areas: 
    "catalog   rightSide";
    background: rgba(87, 65, 217, 0.04);
    

    max-width: 1339px;
    margin: 0 auto;
    margin-top: 15px;
    
    
    min-height: 50px;

}

.catalog{

    grid-area: catalog;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    display: flex;
    align-items: center;
   


    color: #333333;
}


.rightSide{
    grid-area: rightSide;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:1330px){
    .rightSide{
        justify-content: left;
    }
}

