.headerContainer{
    background-color: #202328;
}

.headerMain {
    
    max-width: 1339px;
    
    margin-left: auto;
    margin-right: auto;
    min-height: 36px;
    display: flex;
    justify-content: right;
}

.topMenuUl {
   
    margin: 0; 
	padding: 0; 
}

.topMenuItem {
    display:inline-block;
    text-align: center;
    width: 56px;
    
    padding-left: 70px;
    padding-right: 10px;
    padding-top: 10px;
    width: auto;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 275;
    font-size: 13px;
    
    color: #FFFFFF;

}

.thirtyLevelHeader{

    margin-top: 15px;
    width: 100%;
    background: rgba(87, 65, 217, 0.04);
    min-height: 50px;

}

.thirtyLevelHeaderMain{
    width: 1339px;
    margin: auto;
    position: relative;

}

