.mainContent{
   
    display: flex;
    justify-content: space-between;

}

.sprite{
    display: none;
}

/* Left-Menu */

.leftMenuUl{
    list-style: none;
    margin:0px;
    padding: 0px;
   
}

.leftMenuli{
    display: flex;
   padding-bottom: 15px;
    align-items: center;
}

.menuSvg{
    width: 20px;
    height: 20px;
    padding-right: 2px;
}

.leftMenuLink{
    text-decoration: none;

    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    
    color: #333333;

}

.leftMenuLink:hover{
    color:#5741D9;
}

.leftMenu{
    box-sizing: border-box;
    min-width: 316px;
    height: 250px;
    border: 1px solid rgba(87, 65, 217, 1);
    padding: 15px;
    border-top: none;
    border-radius: 0px 0px 5px 5px;

}

/* Right-Side */
.asics{
    width: 988px;
    height: 400px;
}

.homeMiddleNavigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttonContainer{

    display: flex;
    align-items: center;
    justify-content: center;

    width: 260px;
    height: 89px;
    margin-top: 40px;

    text-align: center;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
   
    color: #FFFFFF;

    background: radial-gradient(97.38% 97.37% at 50% 2.63%, rgba(250, 247, 247, 0.2) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, #2A2067 0%, #5741D9 100%);
    border-radius: 7px;
}

.offers{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offersConainer{
    margin-top: 35px;
    width: 306px;
    height: 200px;
    background-color: #D9D9D9;
    border-radius: 5px;
}